.surveyhero-embed-settings {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  .components-placeholder__input {
    width: 100%;
    min-height: 100px;
  }

  .surveyhero-embed-frame {
    min-height: 150px;
  }

  & .surveyhero-editor-box {
    padding: 20px;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  & .surveyhero-error-box {
    text-align: center;

    & h2 {
      font-size: 17px !important;
      padding: 0 !important;
      font-weight: 600;
      margin: 15px 0 7px;
    }

    & p {
      font-size: 14px !important;
      margin-bottom: 15px;
    }
  }

  .surveyhero-error-icon {
    fill: #ccc;
  }

  .surveyhero-embed-label {
    font-weight: 400;
    font-size: 14px !important;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}

#surveyhero-embed-code {
  margin: 20px 0;
  flex-grow: 0;
  max-width: 400px;
}

.surveyhero-editor-box {
  min-height: 220px;
  box-sizing: border-box;
}